<!DOCTYPE html>
<html lang="pt-br" xmlns:th="www.thymeleaf.org">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Gerenciamento de Petshop</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <div th:replace="index :: menu" ></div>
    <!--<div th:insert="~{index :: menu}" ></div>
    <div th:include="~{index :: menu}" ></div>-->
    <div class="container my-2">
      <h2>Aqui fica página</h2><h1>LISTA DE CLIENTES</h1>
      
      <table class="table table-striped table-responsive-md table-bordered">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">CPF</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="cliente : ${listaClientes}">
            <th scope="row" th:text="${cliente.getId()}">id</th>
            <td th:text="${cliente.getNome()}">nome</td>
            <td th:text="${cliente.getEmail()}">email</td>
            <td th:text="${cliente.getCpf()}">cpf</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>